.main-sidebar{
    background-color: rgb(139, 135, 135);
   
}

.brand-text{
    color: black;
}

.d-block{
    color: black;
}

.link-1{
    color: white;
}

.link-2{
    color: white;
    
}

.nav-link{
    background-color:#17121d;
}

