.table {
    width: 100%;
    table-layout: fixed;
   
  }
  .table tr th {
    text-align: left;
    background: rgb(52, 20, 180);
    color: white;

  }

  .link-3{
    color: white;
}

.link-4{
    color: white;
}

.link-5{
    color: white;
}